.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  /* For wide outcome */
  /* width: 2000px; */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 8px auto;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

ul li {
  display: inline-flex;
  margin: 0px 8px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}
